<section class="hero is-primary">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-12">
        <div class="container content">
          <i class="is-large fab fa-discord"></i>
          <i class="is-large fas fa-code"></i>
          <h1 class="title">Scrum Board</h1>
          <h3 class="subtitle">
            Made By Darjush Kolahi & Masud Rasa
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <aside class="is-medium menu">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Profile</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.userData as user">

            <h1>Hello: <strong>{{(user.displayName) ? user.displayName : user.email.split("@")[0]}}</strong></h1>
            <p>Email: <strong>{{user.email}}</strong></p>
          </div>
          <p class="menu-label">
            Menu
          </p>
          <ul class="menu-list">
            <li class="is-right"> <a class="button is-warning" (click)="authService.SignOut()">
                Logout
              </a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        <div class="content is-medium">
          <h3 class="title is-3">Active Projects</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Members</th>
                <th></th>
                <th></th>
                <th colspan="2" class="is-centered">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activeProject of activeProjects">
                <td>{{activeProject.name}}</td>
                <td>{{activeProject.members}}</td>
                <td></td>
                <td></td>
                <td>
                  <div class="buttons has-addons">
                    <a href="#" class="button is-success card-footer-item">View</a>
                    <a href="#" class="button is-info card-footer-item">Edit</a>
                    <a href="#" class="button is-warning card-footer-item">Archive</a>
                  </div>
            </td>
              </tr>
            </tbody>
          </table>
         
          <h3 class="title is-3">Archived Projects</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Members</th>
                <th></th>
                <th></th>
                <th colspan="2" class="is-centered">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inActiveProject of inActiveProjects">
                <td>{{inActiveProject.name}}</td>
                <td>{{inActiveProject.members}}</td>
                <td></td>
                <td></td>
                <td>
                  <div class="buttons has-addons">
                    <a href="#" class="button is-success card-footer-item">View</a>
                    <a href="#" class="button is-info card-footer-item">Edit</a>
                    <a href="#" class="button is-warning card-footer-item">Archive</a>
                  </div>
            </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>