<h2 mat-dialog-title>Create Sprint</h2>
<mat-dialog-content class="mat-typography">
  <section class="modal-card-body">
    <div class="field">
      <label class="label">Enter your sprint name</label>
      <div class="control">
        <input class="input" [(ngModel)]="sprint.name" type="text" placeholder="User sprint name">
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your sprint description</label>
      <div class="control">
        <input class="input" [(ngModel)]="sprint.description" type="text" placeholder="User sprint description">
      </div>
    </div>
    <div class="field">
      <label class="label">Your old startdate</label>
      <div class="control">
        <input class="input" [readonly]="true" [(ngModel)]="startdate" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Your old enddate</label>
      <div class="control">
        <input class="input" [readonly]="true" [(ngModel)]="enddate" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your new startdate</label>
      <div class="control">
        <input matInput [matDatepicker]="start" [formControl]="startdateControl">
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your new enddate</label>
      <div class="control">
        <input matInput [matDatepicker]="end" [formControl]="enddateControl">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </div>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
  <button mat-flat-button color="primary" (click)="editUserSprint()">Save</button>
</mat-dialog-actions>