<table class="table bg-indianred">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th></th>
      <th colspan="2" class="is-centered">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inactiveProject of archivedProjects">
      <td>{{inactiveProject.name}}</td>
      <td>{{inactiveProject.description}}</td>
      <td>{{inactiveProject.ownerName}}</td>
      <td></td>
      <td>
        <div class="buttons has-addons">
          <button class="button is-success card-footer-item" (click)="activateProject(inactiveProject.id)">Activate</button>
        </div>
  </td>
    </tr>
  </tbody>
</table>
