<h2 mat-dialog-title>Edit Project</h2>
<mat-dialog-content class="mat-typography">
    <section class="modal-card-body">
        <div class="field">
            <label class="label">Project name</label>
            <div class="control">
                <input class="input" [(ngModel)]="project.name" type="text" placeholder="Project name">
            </div>
        </div>
        <div class="field">
            <label class="label">Project description</label>
            <div class="control">
                <input class="input" [(ngModel)]="project.description" type="text" placeholder="Project description">
            </div>
        </div>
    </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="editProject()">Save</button>
</mat-dialog-actions>
