<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <h2 class="title">Sign Up</h2>
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" #userEmail class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" #userPwd class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-success" (click)="authService.SignUp(userEmail.value, userPwd.value)">
                Sign Up
              </button>
                <div>
              <span>Already have an account?</span>
              <div>
                <a class="button is-info" routerLink="/sign-in"> Sign in</a>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>