<table class="table bg-indianred">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Story-Points</th>
        <th>Owner</th>
        <th colspan="2" class="is-centered">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userstory of userStories">
        <td>{{userstory.name}}</td>
        <td>{{userstory.description}}</td>
        <td>{{userstory.status}}</td>
        <td>{{userstory.storypoints}}</td>
        <td>{{userstory.ownerName}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
