<h2 mat-dialog-title>Create Sprint</h2>
<mat-dialog-content class="mat-typography">
  <section class="modal-card-body">
    <div class="field">
      <label class="label">Enter your sprint name</label>
      <div class="control">
        <input class="input" [(ngModel)]="name" id="sprintName" type="text" placeholder="User sprint name">
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your sprint description</label>
      <div class="control">
        <input class="input" [(ngModel)]="description" id="sprintDescription" type="text" placeholder="User sprint description">
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your startdate</label>
      <div class="control">
        <input matInput [matDatepicker]="startdate" id="startdateValue" [formControl]="startdateControl">
        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
        <mat-datepicker #startdate></mat-datepicker>
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your enddate</label>
      <div class="control">
        <input matInput [matDatepicker]="enddate" id="enddateValue" [formControl]="enddateControl">
        <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
        <mat-datepicker #enddate></mat-datepicker>
      </div>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
  <button mat-flat-button color="primary" id="createSprintButton" (click)="createSprint()">Save</button>
</mat-dialog-actions>