<app-editprojectmodal *ngIf="showModal" (onClose)="closeEditModal()" (onCreate)="editProject($event)"></app-editprojectmodal>

<table class="table bg-indianred">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Members</th>
      <th colspan="2" class="is-centered">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activeProject of activeProjects">
      <td>{{activeProject.name}}</td>
      <td>{{activeProject.description}}</td>
      <td>{{activeProject.ownerName}}</td>
      <td>{{activeProject.members.length}}</td>
      <td>
        <div class="buttons has-addons">
          <button class="button is-primary card-footer-item" (click)="navigateToProject(activeProject.id)">View</button>
          <button *ngIf="activeProject.isOwner" class="button is-info card-footer-item"(click)="openEditModal(activeProject)">Edit</button>
          <button *ngIf="activeProject.isOwner" class="button is-warning card-footer-item" (click)="archiveProject(activeProject.id)">Archive</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
