<section class="hero is-primary">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-12">
          <div class="container content">
            <i class="is-large fab fa-discord"></i>
            <i class="is-large fas fa-code"></i>
            <h1 class="title">Scrum Board</h1>
            <h3 class="subtitle">
              Made By Darjush Kolahi & Masud Rasa
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-indianred">
    <div class="container">
      <div class="columns">





        <div class="column is-12">
          <div class="content is-medium">
            <h3 class="title is-3 text-white">Sprint: {{sprint?.name}}</h3>
            <app-userstory [userStories]="sprintUserStories"></app-userstory>
          </div>
          <app-sprint-board [projectMembers]="projectMembers" [projectMemberIds]="projectMemberIds" [userStories]="sprintUserStories" [backlog]="backlog" [todo]="todo" [in_progress]="in_progress" [done]="done" [sprint]="sprint"></app-sprint-board>
        <app-burndown [sprint]="sprint" [userstoriesDone]="amountOfStoriesDone" [done]="done" [totalPoints]="totalStoryPoints"></app-burndown>
        </div>

    
      </div>
    </div>
  </section>
