<h2 mat-dialog-title>Create User Story</h2>
<mat-dialog-content class="mat-typography">
  <section class="modal-card-body">
    <div class="field">
      <label class="label">Enter your user story name</label>
      <div class="control">
        <input class="input" [(ngModel)]="name" type="text" placeholder="User story name">
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your user story description</label>
      <div class="control">
        <input class="input" [(ngModel)]="description" type="text" placeholder="User story description">
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your user story status</label>
      <div class="control">
        <div class="select">
          <select [(ngModel)]="status">
            <option>Backlog</option>
            <option>Todo</option>
            <option>In progress</option>
            <option>Done</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Enter your user story storypoints</label>
      <div class="control">
        <input class="input" [(ngModel)]="storypoints" type="number" placeholder="User story storypoints">
      </div>
    </div>
    <div class="field">
      <label class="label">Assign member</label>
      <div class="control">
        <div class="select">
          <select [(ngModel)]="selectedMember">
              <option *ngFor="let member of canBeAddedMembers" [ngValue]="member">{{member.name}}</option>
          </select>
      </div>
      </div>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
  <button mat-flat-button color="primary" (click)="createUserStory()">Save</button>
</mat-dialog-actions>