<h3 class="title is-3 text-white">Members</h3>

<table class="table bg-indianred" id="membersTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th colspan="2" class="is-centered">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members; index as i">
      <td>{{memberNames[i]}}</td>
      <td>{{member.role}}</td>
      <td></td>
      <td></td>
      <td>
        <div class="buttons has-addons">
          <button class="button is-info card-footer-item"(click)="openEditModal(member.userId, member.role)">Edit</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
